@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@keyframes fade {

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3a3a3a;
}

body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: #1d1d1d;
}

body::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 51px;
    background-color: #1d1d1d;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 7px 0px #00000080;
    z-index: 1000;
    transform: translateY(-51px);
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header > a{
    font-family: 'DynaPuff', cursive;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header > div{
    padding: 0 15px;
}

.linkHead{
    text-decoration: none;
    padding: 0 11px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
}

.linkHead:hover{
    color: rgb(226, 226, 226);
}

footer{
    width: 100%;
    font-size: .8em;
    text-align: center;
    background-color: #000000;
    color: #dddddd;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.boxPrincipal{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(21px);
    animation: fade;
    animation-duration: .8s;
    animation-fill-mode: forwards;

}

.box{
    font-family: 'Rubik', sans-serif;
    padding: 35px;
    color: #fff;
    font-size: 1.15em;
}
.box > h1{
    padding-bottom: 5px;
    font-size: 2em;
    color: #a362f8;
}

.lista{
    padding-left: 25px;
}

span{
    color: #a362f8;
}

.infosAutor{
    display: flex;
    align-items: center;
}

.infosAutor > p {
    padding-left: 15px;
}

.infosAutor > img{
    height: 255px;
    border-radius: 5px;
}

.titulo > h1{
    padding-top: 21px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 3em;
    color: #c5c5c5;
}

.group{
    color: #bf3f9d;
    font-style: italic;
}